@use '../global/breakpoints' as b;
@use '../global/functions' as f;

// width: 100vw;
// height: 100vh;
// background-image: url('../../assets/mobile/bg-image-daytime.jpg');

// img {
//   width: 100%;
//   height: 100%;
// }
.background {
  img {
    position: absolute;
    z-index: -2;
    height: 100vh;
    width: 100vw;
  }

  & .b1 {
    display: block;
    @include b.break('medium') {
      display: none;
    }
    @include b.break('large') {
      display: none;
    }
  }
  & .b2 {
    display: none;
    @include b.break('medium') {
      display: block;
    }
    @include b.break('large') {
      display: none;
    }
  }
  & .b3 {
    display: none;
    @include b.break('medium') {
      display: none;
    }
    @include b.break('large') {
      display: block;
    }
  }
}

main {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  padding: f.rem(30);
}
.shadow {
  width: 100%;
  height: 100%;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.4) 100%,
    rgba(0, 0, 0, 0.6) 100%
  );
}

.quoute {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: f.rem(20);
  height: f.rem(500);
  height: calc(100% - f.rem(350));
  // display: none;
  // padding-bottom: f.rem(300);
  &__refresh {
    background-color: transparent;
    border: none;
    position: absolute;
    top: f.rem(10);
    right: 0;
  }

  &__text {
    font-size: f.rem(15);
    color: var(--white);
    width: calc(100% - f.rem(30));
    &::before {
      content: '"';
    }
    &::after {
      content: '"';
    }
  }
  &__author {
    color: var(--white);
    font-size: f.rem(15);
  }
}

.cloak {
  display: flex;
  flex-direction: column;
  gap: f.rem(18);
  // &__cloak {
  //   // height: 100%;
  // }
  &__header {
    display: flex;
    align-items: center;
    gap: f.rem(10);
    color: var(--white);

    &-heading {
      font-size: f.rem(18);
      &-span {
        display: none;

        @include b.break('medium') {
          display: inline;
        }
      }
    }
  }

  &__cloak {
    display: flex;
    align-items: flex-end;
    color: var(--white);
    // gap: f.rem(50);
    &-zone {
      font-size: f.rem(14);
      font-weight: 100;
      margin-bottom: f.rem(19);
    }
    & .test {
      font-size: f.rem(95);
      overflow: unset;
    }
  }

  &__container {
    color: var(--white);

    &-place {
      font-size: f.rem(19);
    }
  }
}

.show-more-button {
  height: f.rem(40);
  width: f.rem(110);
  border-radius: f.rem(30);
  color: var(--gray);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: f.rem(8);
  position: absolute;
  bottom: f.rem(50);

  &__circle {
    width: 27px;
    height: 27px;
    background-color: var(--black);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
