@use '../global/breakpoints' as b;
@use '../global/functions' as f;

// width: 100vw;
// height: 100vh;
// background-image: url('../../assets/mobile/bg-image-daytime.jpg');

// img {
//   width: 100%;
//   height: 100%;
// }
.background {
  img {
    position: absolute;
    z-index: -2;
    height: 100vh;
    width: 100vw;
  }

  & .b1 {
    display: block;
    @include b.break('medium') {
      display: none;
    }
    @include b.break('large') {
      display: none;
    }
  }
  & .b2 {
    display: none;
    @include b.break('medium') {
      display: block;
    }
    @include b.break('large') {
      display: none;
    }
  }
  & .b3 {
    display: none;
    @include b.break('medium') {
      display: none;
    }
    @include b.break('large') {
      display: block;
    }
  }
}

main {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  padding: f.rem(30);

  @include b.break('medium') {
    padding: f.rem(80) f.rem(60) 0;
  }

  @include b.break('large') {
    padding: f.rem(80) f.rem(200) 0;
  }
}
.shadow {
  width: 100%;
  height: 100%;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.4) 100%,
    rgba(0, 0, 0, 0.6) 100%
  );
}

.quoute {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: f.rem(20);
  height: f.rem(500);
  height: calc(100% - f.rem(350));
  transition: opacity 0.3s;
  // transform: translateY(-500px);

  @include b.break('medium') {
    height: calc(100% - f.rem(450));
  }

  &--active {
    opacity: 0;
  }
  // display: none;
  // padding-bottom: f.rem(300);
  &__refresh {
    background-color: transparent;
    border: none;
    position: absolute;
    top: f.rem(10);
    right: 0;

    @include b.break('medium') {
      // position: ;
      left: f.rem(605);
    }
  }

  &__text {
    font-size: f.rem(15);
    color: var(--white);
    width: calc(100% - f.rem(30));

    @include b.break('medium') {
      font-size: f.rem(17);
      max-width: f.rem(600);
    }
    &::before {
      content: '"';
    }
    &::after {
      content: '"';
    }
  }
  &__author {
    color: var(--white);
    font-size: f.rem(15);

    @include b.break('medium') {
      font-size: f.rem(17);
    }
  }
}

.cloak {
  display: flex;
  flex-direction: column;
  gap: f.rem(18);
  // &__cloak {
  //   // height: 100%;
  // }
  transition: transform 0.3s;
  &--active {
    transform: translateY(-300px);

    @include b.break('medium') {
      transform: translateY(-450px);
    }
  }

  &__header {
    display: flex;
    align-items: center;
    gap: f.rem(10);
    color: var(--white);

    &-heading {
      font-size: f.rem(18);
      &-span {
        display: none;

        @include b.break('medium') {
          display: inline;
        }
      }
    }
  }

  &__cloak {
    display: flex;
    align-items: flex-end;
    color: var(--white);
    // gap: f.rem(50);
    &-zone {
      font-size: f.rem(14);
      font-weight: 100;
      margin-bottom: f.rem(19);

      @include b.break('medium') {
        font-size: f.rem(19);
        margin-bottom: f.rem(24);
      }

      @include b.break('large') {
        font-size: f.rem(25);
        margin-bottom: f.rem(32);
      }
    }
    & .test {
      font-size: f.rem(95);
      overflow: unset;
      left: 0;

      @include b.break('medium') {
        font-size: f.rem(150);
      }

      @include b.break('large') {
        font-size: f.rem(200);
      }
    }
  }

  &__container {
    color: var(--white);

    @include b.break('large') {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-place {
      font-size: f.rem(19);
    }
  }
}

.show-more-button {
  height: f.rem(40);
  width: f.rem(110);
  border-radius: f.rem(30);
  color: var(--gray);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: f.rem(8);
  // position: absolute;
  margin-top: f.rem(70);
  // bottom: f.rem(50);

  @include b.break('large') {
    margin: 0;
  }
  &__circle {
    width: 27px;
    height: 27px;
    background-color: var(--black);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.more-information {
  display: flex;
  flex-direction: column;
  padding: f.rem(30);
  justify-content: space-evenly;
  min-width: 100vw;
  min-height: f.rem(350);
  // background-color: var(--gray);
  background: rgb(200, 201, 201);
  background: linear-gradient(
    90deg,
    rgba(200, 201, 201, 0.9079832616640406) 100%,
    rgba(200, 201, 201, 0.7651261188068977) 100%
  );
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(350px);
  // transition: ease-in-out 0.3s;
  transition: transform 0.3s;

  @include b.break('medium') {
    min-height: f.rem(450);
    transform: translateY(450px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: f.rem(60);
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--gray);

    @include b.break('medium') {
      flex-direction: column;
      justify-content: center;
      gap: f.rem(10);
    }
    & h6 {
      font-size: f.rem(11);
      letter-spacing: f.rem(2);

      @include b.break('medium') {
        font-size: f.rem(17);
      }
    }
    & h5 {
      @include b.break('medium') {
        font-size: f.rem(20);
      }
    }
  }

  &--active {
    transform: translateY(0);

    // @include b.break('medium') {
    //   min-height: f.rem(450);
    //   transform: translateY(450px);
    // }
  }
}
